
@media(max-width:1130px){
    .site-content .post-content > .post-image .post-infor{
        left: 20px !important;
        bottom: 12px !important;
        border-radius: 0% !important;
    }
    .footer .container{
        grid-template-columns: repeat(2,1fr);
    }
   
}


@media(max-width:750px)
{
    nav .nav-menu {
        flex-direction: column;
        
    }
    nav .nav-items{
        flex-direction: column;
    }
    nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100%;
        padding-bottom: 50px;

    }

    .footer .container{
        grid-template-columns: repeat(1,1fr);
    }
    .footer .container .news-letter{
        padding-top: 0px;
    }

    .footer .container .instagram{
        padding-top: 0px;
    }
    .footer .container .follow{
        padding-top: 0px;
    }
} 
@media(max-width:520px){
   .site-content .post-content> .post-image .post-infor{
       display: none;
   }
   .footer .container>div{
       padding: 1rem 0.9rem!important;
   }
}

